<p>  </p>

<table border="1" width="" cellpadding="4" cellspacing="0">
    <tr>
        <td width="20%" align="center" >
            <b>Заказ</b>
        </td>
        <td width="40%" align="center">
            <b>Данные СЗ</b>
        </td>
        <td width="40%" align="center">
            <b>Данные РМ</b>
        </td>
    </tr>
    {% for order in orders %}
    <tr>
        <td align="center"  valign="center">
            {{ order.orderId }}
        </td>
        <td valign="top">
            {{ order.status }} ({{ order.statusInfo }})
            <br>{{ order.lastUpd }}
        </td>
        <td valign="top">
            {{ order.rmStatus }} ({{ order.rmStatusInfo }})
            <br>{{ order.rmLastUpd }}
        </td>
    </tr>
    {% endfor %}
</table>